<div class="row blog_entries">
  <div class="columns four blog_left" data-hook>
    <%= render :partial => 'spree/blog_entries/sidebar_index' %>
  </div>

  <div class="columnns twelve blog_right">
    <%= render :partial => 'spree/blog_entries/blog_entries' %>
  </div>
</div>
